<body style="background-color: #E43A1A" style="padding: 0;">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="border-color: white;">
        <div class="container" style="width: 100%;background-color: #E43A1A">
            <div class="navbar-header">
                <a class="navbar-brand" style="margin-left: 0;"  href="www.lookatapp.co"><img src="img/outlinedLogo.png" height=30 width=100></a>
            </div>
        </div>
    </nav>
    <div class="row" style="background: linear-gradient(160deg, #A8493A 30%, #E43A1A 70%); height: 100vh">
        <div class="col-xs-2 col-sm-3">

        </div>
        <div class="col-xs-8 col-sm-6">
            <img src="img/outlinedLogo.png" style="width: 70%; margin-left: 15%; margin-top: 20px; margin-bottom: 20px;">
            <h1 style="color: white; text-align: center; margin-bottom: 100px;">Restaura tu cuenta</h1>
            <div class="form-group" style="margin-bottom: 6px; width: 100%;">
                <input ng-model="password" type="text" class="form-control" placeholder="Contraseña" aria-describedby="basic-addon1">
            </div>
            <div class="form-group" style="margin-bottom: 6px;">
                <input ng-model="confirmPassword" type="text" class="form-control" placeholder="Confirmar contraseña" aria-describedby="basic-addon1">
            </div>
            <button ng-click="resetPassword()" class="btn btn-lg btn-block" style="margin-top: 3px; background-color: #E43A1A; color: white; margin-bottom: 3px; border: 1px solid white; margin-top: 30px; border-radius: 10px;"> Cambiar contraseña </button>
        </div>
        <div class="col-xs-2 col-sm-3">

        </div>
    </div>
</body>
