<div class="spinnerDiv" style="display: none;">
  <div class="loader"></div>
</div>
<ng-include src="'../templates/bar.html'"></ng-include>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 title-section">
      <h2 class="alone-header"> Reseñas </h2>
      <h2 class="alone-subtitle">Las opiniones de tus clientes son la manera mas directa de retroalimentarse.  </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4">
        <div class="card" style="width: 100%; box-shadow: 2px 2px 5px #888888; margin-bottom: 15px;">
          <div style="background: url({{place.coverPicture}}); height: 160px;background-size: cover;background-repeat: no-repeat; background-position: 50% 50%;">
            <div class="card-header">
              <div class="row left-padding">
                <div class="col col-xs-4 no-padding" >
                  <img src="{{place.logo}}" class="img-circle" style=" height: 70px; width: 70px; margin-top: border-radius: 50% 50%; border: 1px solid white;">
                </div>
                <div class="col col-xs-80 no-padding" style="padding-left: 10px;">
                  <h3 style="color: white; font-size: 20px;">{{place.place}} </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" ng-repeat="review in Reviews">
        <div class="card review-card">
          <div class="review-header">
            <p> {{review.rate | limitTo: 3}} <i class="fa fa-star" ng-if="review.rate > 0"></i><i class="fa fa-star" ng-if="review.rate > 1"></i><i class="fa fa-star" ng-if="review.rate > 2"></i><i class="fa fa-star" ng-if="review.rate > 3"></i><i class="fa fa-star " ng-if="review.rate > 4"></i></p>
          </div>
          <div class="review-body">
            <h1>{{review.User.name}}</h1>
            <p>{{review.comment}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
